:root {
  --app-gray: #64748b;
  --app-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --app-border-color: #e2e8f0;
  --app-body-bg-color: #f1f5f9;
  --app-input-bg-color: #4f46e5;
  --app-input-bg-color-hover: #5551a7;
  --app-font-family: Roboto, 'Helvetica Neue', sans-serif;
}
