.container {
  position: sticky;
  top: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  padding: 20px;
  margin-top: 43.59px;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--app-shadow);
}

label {
  font-weight: 500;
  font-size: 14px;
}
